* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}





a {
    text-decoration: none;
    color: rgb(0,204,0);
}


li {
    list-style: none;
    width: 400px;
    padding: 20px;
    border-top: 5px solid #8360c3;
    border-bottom: 5px solid #2ebf91;
    background-image: 
        linear-gradient(#8360c3, #2ebf91),
        linear-gradient(#8360c3, #2ebf91)
    ;
    background-size:5px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.bookmark-list{
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
}


li:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
  }

  form {
      margin-top: 10px;
      font-weight: bold;
  }

  p {
      font-weight: bold;
  }


h1 {
    color: rgb(0,204,0);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

h1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    /* background-color: rgb(0,204,0); */
    color: rgb(0,204,0);
    transition-duration: 0.4s;
  }

  h1:active {
    background-color: rgb(0,204,0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-paragraph {
    text-align: center;
}

button {
    cursor: pointer;
    radius: 10px;
    border-radius: 5px;
}

.show-bookmark-form:active {
    background-color: rgb(0,204,0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.show-bookmark-form:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(0,204,0);
    color: white;
    transition-duration: 0.4s;
  }

  .bookmark-delete:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: red;
    color: white;
    transition-duration: 0.4s;
  }

  .bookmark-delete:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

 
  .js-item-toggle:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(58,184,221);
    color: white;
    transition-duration: 0.4s;
  }
  
  .js-item-toggle:active {
    background-color: rgb(58,184,221);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .filterButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(58,184,221);
    color: white;
    transition-duration: 0.4s;
  }

  .filterButton:active {
    background-color: rgb(58,184,221);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .resetFilt:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(231,132,30);
    color: white;
    transition-duration: 0.4s;
  }

  .resetFilt:active {
    background-color: rgb(231,132,30);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .expandedButton {
    cursor: pointer;
    radius: 10px;
    border-radius: 5px;
}

  .expandedButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(231,132,30);
    color: white;
    transition-duration: 0.4s;
  }

  .expandedButton:active {
    background-color: rgb(231,132,30);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .bookMarkItButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: rgb(0,204,0);
    color: white;
    transition-duration: 0.4s;
  }

  .bookMarkItButton:active {
    background-color: rgb(0,204,0);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  footer {
    position: relative;
    width:100px;
    height:100px;
    left:30px;
    bottom:30px;
  }

  .bookmark-item {
      font-weight: bold;
  }

  .external {
      margin: 5px;
  }

  .bookmark-item-controls {
      margin-top: 8px;
  }

  #filterVal {
      cursor: pointer;
  }

  .rateButton {
    cursor: pointer;
}

button {
    padding: 3px;
    border: solid gray 1px;
}

.expandedButton {
  border: solid red 1px;
}

  @media screen and (max-width: 480px) {
    li {
      width: 300px;
      margin: 15px auto;
      position: relative;
      right: 30px;
  }
  button {
    background-color: white;
  }
  .expandedButton {
    background-color: white;
  }
  }

  @media screen and (max-width: 649px) {

      h1 {
          font-size: 45px;
      }

      .description-paragraph {
          font-size: 15px;
      }

      footer {
        display: none;
      }

      .show-bookmark-form {
        height: 50px;
        width: 120px;
        font-size: 14px;
      }

      .container {
        align-items: center;
        justify-content: center;
      }

      li {
          width: 300px;
          margin: 15px auto;
          /* position: relative; */
          /* right: 30px; */
      }

      .bookmark-list{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      input[type=text], textarea, .js-url-entry {
        width: 100%;
        height: 20%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }

      .filtLabel {
        padding: 0px;
    }
      
      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }

      .descParagraph {
          font-weight: normal;
      }

      #filterVal {
        border: 1px solid grey;
        background-color: white;
      }

  }

  @media screen and (min-width: 650px) {
 
      h1 {
          font-size: 60px;
      }

      .description-paragraph {
          font-size: 17px;
          width: 50%;
      }

      .show-bookmark-form {
          height: 60px;
          width: 140px;
          font-weight: bold;
          font-size: 15px;
      }
      footer {
        position: fixed;
        width:100px;
        height:100px;
        left:30px;
        bottom: 30px;
    }

    input[type=text], textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }
      
      label {
        padding: 12px 12px 12px 0;
        display: inline-block;
      }

      .filtLabel {
          margin: 0px;
          padding: 0px;
      }

      .js-url-entry {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }

      .descParagraph {
          font-weight: normal;
      }

  }

  button {
      font-weight: bold;
  }

